<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/3/3843.png" sizes="16x16">
</head>
<body>

<table th:each="el : ${users}">
    <thead>
    <tr>
        <th>name</th>
    </tr>
    </thead>
    <tbody>
    <tr>

        <td><p th:text="${el.username}"/></td>
        <td><a th:href="@{'/user/'+${el.id}}">edit </a></td>
        <td>
            <form th:action="'/user/'+${el.id}+'/remove'" method="post">
                <button type="submit" onclick="checkDelete();">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<script>
    function checkDelete(){
        let result = confirm("Вы согласны с удалением?");
        if(result){
        }
        else{return false;}
    }
</script>
</body>
</html>