<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"/>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/3/3843.png" sizes="16x16">
</head>
<body>

<form action="/user" method="post">
    <input type="text" name="username" th:value="${user.username}">

    <div th:each="role : ${roles}">
        <input type="checkbox" th:name="${role}" th:checked="${#lists.contains(user.getRoles(), role)}">
        <label th:text="${role}" />
    </div>

    <div>
        <input type="checkbox" name="active" th:checked="${user.active}">
        <label th:text="Активность" />
    </div>

    <input type="hidden" th:value="${user.id}" name="userId">
    <input type="hidden" name="_csrf" value="${_csrf.token}"/>

    <button type="submit" >Сохранить</button>
</form>

<form action="/user/{user}/turnOff" method="post">
    <input type="hidden" th:value="${user.id}" name="userId">
    <input type="hidden" name="_csrf" value="${_csrf.token}"/>
    <button type="submit">Отключить</button>
</form>

</body>
</html>